$radius: 5px;
$grid_padding: 2px;
$board_border_width:0px;
$board_color: rgb(108,83,91);


* {box-sizing: border-box;}
html {height:100%;}
body {
  font-family: Arial, sans-serif;
  background: rgb(139,135,150);
  height: 100%;
  margin:0;
  padding:20px 0;
}

#container {
  //outline:1px solid pink;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  min-height:100%;

  position:relative;
}
#board {
  box-sizing:content-box;
  width: 10*56px;
  height: 10*56px;
  margin:0 10px 10px 0;
  padding: $grid_padding;
  background: $board_color/*rgb(212,225,236)*/;
  border-radius: $radius;
  border: $board_border_width solid rgb(84,89,98);

  float: left;
  position:relative;
  left: -($board_border_width + $grid_padding);
  top: -($board_border_width + $grid_padding);


}
#controls {
  float:left;
  clear:both;
}
.block {
  padding: $grid_padding;
  display: inline-block;
  position:relative;

  transform: rotate(0deg);

  transition: top 1s, left 1s, transform 1s, opacity .2s;
  transition-timing-function: ease-in-out;
}

.block > span {
  border-radius: $radius;
  background: rgb(214,110,72)/*rgb(103,107,129)*/;
  color: white;
  border: 1px solid #333333;
  font-size:80%;
  text-align: right;

  height:100%;
  width:100%;
  padding:5px;
  display: block;

  box-shadow:0px 0px 0px #333333;
  transition: box-shadow .3s ease-in-out;

  cursor: pointer;



}

.ui-draggable-dragging {
  z-index:100;
  opacity:.9;

  transition: position 0s, transform .2s, opacity .2s;
}
.ui-draggable-dragging > span {
  box-shadow: 1px 1px 5px #333333;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

button {
  padding: 10px 20px;
  color: $board_color;
  border: 4px solid $board_color;
  font-size:100%;
  background: transparent;
  font-weight: bold;
  border-radius: $radius;
  cursor:pointer;
}
button:hover {
  background: $board_color;
  color: rgb(139,135,150);
}
